body {
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
  }
  

  .house {
    width: 100vh;
  }


  .blog-name {
    flex-grow: 1;
  }
  
  header {
   background-image:linear-gradient(to right, #000328, #00458e);
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  
  
  nav a {
    color:white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav a:hover {
    color: #777;
    background-color: whitesmoke;
    border-radius: 5%;

  }
  
  .content {
    width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .topic h1 {
   color:#020428;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .sidebar {
  width: 300px;
  background-color: #eee;
  padding: 20px;
  font-family: "Arial", sans-serif;
}
  
  h2 {
    color: #333;
  }
  
  footer {
    background-color: #1f204c;
    padding: 20px;
    text-align: center;
    color:white;
  }
  
  main {
    display: flex;
  }

 